In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
df = pd.read_csv('6th-college_ranking_raw.txt', sep='\t')
df = df[pd.notnull(df['School Name'])] #Drop all row with no school name

The next two cells will work out the average of 'Average Point Score' and replace the Nulls, SUPP and NE with the average score

In [3]:
#Get colum into list
df1 = df['Average Point Score'].fillna(0) #replace nulls with 0's
aps = list(df1)

In [4]:
# Drop 0's, SUPP's and NE's and work out average
aps = [float(x) for x in aps if x !=0 and x !='SUPP' and x != 'NE']
average = float('{0:.2f}'.format((sum(aps)/len(aps))))
average

29.72

In [5]:
# Replace the NaN's, SUPP's and NE's with the average
df['Average Point Score'].fillna(average, inplace=True)
df['Average Point Score'] = df['Average Point Score'].replace(['SUPP', 'NE'], average)

In [6]:
# Convert acronym's to full names in School Type. Note if but into a database we should normlise
df['School Type'] = df['School Type'].replace('AC', 'Sponsored academy')
df['School Type'] = df['School Type'].replace('ACC', 'Academy converter - mainstream')
df['School Type'] = df['School Type'].replace('AC1619', 'Academy 16-19 sponsor led')
df['School Type'] = df['School Type'].replace('ACCS', 'Academy converter - special school')
df['School Type'] = df['School Type'].replace('ACS', 'Sponsored special academy')
df['School Type'] = df['School Type'].replace('CTC', 'City technology college')
df['School Type'] = df['School Type'].replace('CY', 'Community school')
df['School Type'] = df['School Type'].replace('CYS', 'Community special school')
df['School Type'] = df['School Type'].replace('F', 'Free school - mainstream')
df['School Type'] = df['School Type'].replace('FD', 'Foundation school')
df['School Type'] = df['School Type'].replace('FDS', 'Foundation special school')
df['School Type'] = df['School Type'].replace('FS', 'Free school - special')
df['School Type'] = df['School Type'].replace('FSS', 'Free school - studio school')
df['School Type'] = df['School Type'].replace('FUTC', 'Free school - UTC (university technical college)')
df['School Type'] = df['School Type'].replace('F1619', 'Free school - 16-19')
df['School Type'] = df['School Type'].replace('IND', 'Independent school')
df['School Type'] = df['School Type'].replace('INDSPEC', 'Independent special school')
df['School Type'] = df['School Type'].replace('MODFC', 'College funded by Ministry of Defence')
df['School Type'] = df['School Type'].replace('NMSS', 'Non-maintained special school')
df['School Type'] = df['School Type'].replace('VA', 'Voluntary aided school')
df['School Type'] = df['School Type'].replace('VC', 'Voluntary controlled school')

In [7]:
df.to_csv('6th-college_ranking_clean.txt', sep = '\t', index=False)